<div class="big-padding text-center red  white-text">
	<h1> A 10-point summary of Alexandre Havard’s model    </h1>
</div>
<div class="container text-center">
	<div class="card patient text-left">
		<div class="actions absolute">
		</div>
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<p>1) Authentic leadership must be based on an authentic anthropology, one that includes aretology, the science of virtues.
				Virtue is a habit of the mind, the will and the heart, which allows us to achieve personal excellence and effectiveness.
				Leadership is intrinsically linked to virtue. First, because virtue creates trust—the sine qua non of leadership. Second,
				because virtue, which comes from the Latin virtus, meaning “strength” or “power,” is a dynamic force that enhances the
				leader’s capacity to act. Virtue allows the leader to do what people expect of him.</p>
				<p>2) Magnanimity and humility, which are principally virtues of the heart, constitute the essence of leadership. Magnanimity is the habit of striving for great things. Leaders are magnanimous in their dreams, their visions and their sense of mission; also in their capacity to challenge themselves and those around them. Humility is the habit of serving others. It means pulling rather than pushing, teaching rather than ordering about, inspiring rather than berating. Thus, leadership is less about displays of power than the empowerment of others. To practice humility is to bring out the greatness in others, to give them the capacity to realize their human potential. In this sense leaders are always teachers and fathers/mothers. Magnanimity and humility are virtues specific to leaders; together they constitute the essence of leadership.</p>
				<p>3) Leadership is a life ideal, because the specific virtues it draws on—magnanimity and humility—are themselves life ideals. Magnanimity and humility constitute a unique ideal: the ideal of the dignity and greatness of man. Magnanimity makes us conscious of our dignity and greatness; humility makes us conscious of the dignity and greatness of others. Magnanimity (i.e., high-mindedness), and humility are the fruits of a true appreciation of the value of man; pusillanimity (i.e., small-mindedness), which prevents man from understanding himself, and pride, which prevents him from understanding others, stem from a false appreciation of man’s value. Leadership is a life ideal, which recognizes, assimilates and propagates the truth about man.</p>
				<p>4) The virtues of prudence (practical wisdom), courage, self-control and justice, which are mainly virtues of the mind and the will, constitute the foundations of leadership. Prudence increases the leader’s ability to make right decisions; courage permits him to stay the course and resist pressures of all kinds; self-control subordinates his emotions and passions to the spirit and directs their vital energy to the fulfillment of the mission at hand; justice impels him to give everyone his due. If these four virtues, which are called cardinal, do not constitute the essence of leadership, they constitute its bedrock without which leadership comes to naught.</p>
				<p>5) Leaders are trained, not born. Virtue is a habit acquired through practice. Leadership is a question of character (virtue, freedom, growth) and not of temperament (biology, conditioning, stagnation). Temperament can favor the growth of some virtues and hinder the development of others. But there comes a point where the leader imposes his character on his temperament so much so that his temperament ceases to dominate him. Temperament is not an obstacle to leadership, whereas lack of character—i.e., the moral energy that prevents us from being slaves to biology—most definitely is.
				</p>
			</div>
			<div class="col-sm-6 col-xs-12">
				<p>6) The leader does not lead by means of potestas or the power inherent in his office or functions. He leads by means of auctoritas, which proceeds from character. Those who lead by means of potestas, because they lack authority, are leaders in name only. It is a vicious circle: he who lacks authority (auctoritas) tends to abuse his power (potestas), which provokes an erosion of authority, thus blocking his path towards authentic leadership. Leadership is not about rank or position or being on top of the heap. Leadership is a way of being, which can be lived by everyone no matter his or her place in society or in any given organization.  </p>
				<p>7) To grow in virtue, the heart, the will and the mind come into play: we contemplate virtue through the heart, in order to perceive its intrinsic beauty and ardently desire it; we develop the habit of acting virtuously by means of the will; with the mind, we practice all the virtues simultaneously, paying particular attention to the virtue of prudence—the guide of all the virtues.</p>
				<p>8) By practicing the virtues, leaders become mature in their judgments, emotions, and behavior. The signs of maturity are self-confidence, coherence, psychological stability, joy, optimism, naturalness, freedom and responsibility, and interior peace. Leaders are neither skeptics nor cynics; they are realists. Realism is the capacity to entertain noble aspirations of the soul, despite one’s personal weaknesses. Realists do not give in to weakness; they overcome it by the practice of virtues.</p>
				<p>9) Leaders reject a utilitarian approach to virtue. Virtue is not something they cultivate in order to become effective at what they do. They cultivate virtue so as to realize themselves as human beings. We do not seek to grow in virtue in order to become more effective at what we do; improved effectiveness is merely one of virtue’s many consequences.</p>
				<p>10) Leaders practice virtue ethics, rather than rules-based ethics. Virtue ethics do not deny the validity of rules; they affirm that the essence of ethics is something other than rules. Rules must serve virtue. Virtue ethics underlie the leader’s creativity causing it to flourish.
				</p>
			</div>				
		</div>
		<%=link_to 'volver al inicio', root_path , class: 'btn btn-inverse' %>
	</div>
</div>