<div class=" text-center blue main-background big-height">
	<div class="patient text-center">
		<h1 class="white-text big-top-space titulo">LIVE</h1>
		<div class="row">
			<div class="col-sm-8 col-xs-12">
			</div>
			<div class="col-sm-4 col-xs-12">
			</div>				
		</div>
	</div>
</div>
<div class="text-center green medium-height">
	<div class="patient text-center">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<h3 class="white-text">Dejanos tus datos</h3>
				<p class="white-text">y contactarnos contigo para futuras charlas, conferencias y mas...</p>
			</div>
			<div class="col-sm-6 col-xs-12 top-space">
				<%=link_to 'Enviar datos', new_attendant_path(), class: 'btn btn-success' %>
			</div>				
		</div>
	</div>
</div>
<div class=" text-center white">
	<div class="patient text-center">
		<h2 class="black-text">A 10-point summary of Alexandre Havard’s model</h2>
		<div class="container">
		<div class="row dark-grey-text big-text text-left">
			<div class="col-sm-6 col-xs-12">
				<ul>
					<li><strong>Authentic leadership must be based on an authentic anthropology</strong></li>
					<li><strong>Magnanimity and humility</strong></li>
					<li><strong>Leadership is a life ideal</strong></li>
					<li><strong>The virtues of prudence (practical wisdom)</strong></li>
					<li><strong>Leaders are trained, not born.</strong></li>
				</ul>
			</div>
			<div class="col-sm-6 col-xs-12">
				<ul>
					<li><strong>Authentic leadership must be based on an authentic anthropology</strong></li>
					<li><strong>Magnanimity and humility</strong></li>
					<li><strong>Leadership is a life ideal</strong></li>
					<li><strong>The virtues of prudence (practical wisdom)</strong></li>
					<li><strong>Leaders are trained, not born.</strong></li>
					<div class="top-space text-center"><%= link_to 'Leer articulo completo', article_havard_path, class: 'btn btn-danger'%></div>
				</ul>
			</div>			
		</div>	
		</div>
	</div>
</div>
<div class="text-center indigo medium-height">
	<div class="patient text-center">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<h3 class="white-text">Recomiendanos a un amigo</h3>
				<p class="white-text">envianos los datos de un amigo para que participe con nosotros...</p>
			</div>
			<div class="col-sm-6 col-xs-12 top-space">
				<%=link_to 'Enviar datos', new_attendant_path(), class: 'btn btn-info' %>
			</div>				
		</div>
	</div>
</div>